<launch>
  <param name="use_sim_time" type="bool" value="true"/>

  <arg name="rosbag_file" default="/home/id314/bagfiles/k1_sd_cal.bag"/>


  <node pkg="rosbag" type="play" name="bag_player" args="-l $(arg rosbag_file) --clock" />

  <node pkg="tf" type="static_transform_publisher" name="base_cam_tf" args="0 0 0 0 0 0 base camera_depth_optical_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="map_cam_tf" args="0 0 0 0 0 0 map camera_depth_optical_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_map_tf" args="0 0 0 0 0 0 base map 100"/>



  <!-- rviz -->
</launch>
